.render-body{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.render-data{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
}

@media screen and (max-width: 800px)
{

    .render-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .render-data{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
    }
    
}