.filter-body{
    width: 25%;
    height: 90vh;
    text-align: center;
    border: 1px solid;
    
}

@media screen and (max-width: 800px)
{

    .filter-body{
        width: 100%;
        height: 40vh;
    }
    
}