*{
  margin: 0px;
  padding: 0px;
}
.main-container{
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body{
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 800px)
{
  .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
    
}
